<IfModule mod_rewrite.c>
Options +FollowSymLinks -MultiViews -Indexes

RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^eserv.us
RewriteRule (.*) http://www.eserv.us/$1 [R=301,L]

RewriteRule ^(public) - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^.*\.(jpg|css|js|gif|png)$ [NC]

RewriteRule ^(.*)$ index.php/$1 [NC,L,QSA]

</IfModule>