* {
    box-sizing: border-box;
}
.e-row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="e-col-"] {
    float: left;
    padding: 15px;
}
.pull-right {
    position: relative;
    float: right;
}
html {
    font-family: "Lucida Sans", sans-serif;
    background-color: #b2b2b2;
}
body {
    background-color: #b2b2b2;
    margin: 0;
}
.e-container {
    width: 100%;
    background-color: #b2b2b2;
}
header {
    background-color: #000000;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 50px;
}
a {
    text-decoration: none;
}
a.header-btn {
    color: #9b9b9b;
    background-color: transparent;
    border: none;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
a.header-btn:hover {
    color: #ffffff;
    cursor: pointer;
}


.e-fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.e-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.e-list-item {
    display: block;
    padding: 8px;
    margin-bottom: 7px;
    background-color: white;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.e-list-item:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    text-decoration: none;
}
.e-panel {
    background-color: #ffffff;
    padding: 15px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.form-group {
    margin-bottom: 15px;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.error {
    color: red;
    width: auto;
    display: inline-block;
}
input {
    width: 100%;
    padding: 5px;
}
/* For mobile phones: */
[class*="e-col-"] {
    width: 100%;
}

/* For tablets: */
@media only screen and (min-width: 600px) {

    .e-col-m-1 {width: 8.33%;}
    .e-col-m-2 {width: 16.66%;}
    .e-col-m-3 {width: 25%;}
    .e-col-m-4 {width: 33.33%;}
    .e-col-m-5 {width: 41.66%;}
    .e-col-m-6 {width: 50%;}
    .e-col-m-7 {width: 58.33%;}
    .e-col-m-8 {width: 66.66%;}
    .e-col-m-9 {width: 75%;}
    .e-col-m-10 {width: 83.33%;}
    .e-col-m-11 {width: 91.66%;}
    .e-col-m-12 {width: 100%;}
    .e-modal-content {
        width: 80%;
    }


}

/* For desktop: */
@media only screen and (min-width: 1024px) {

    .e-col-1 {width: 8.33%;}
    .e-col-2 {width: 16.66%;}
    .e-col-3 {width: 25%;}
    .e-col-4 {width: 33.33%;}
    .e-col-5 {width: 41.66%;}
    .e-col-6 {width: 50%;}
    .e-col-7 {width: 58.33%;}
    .e-col-8 {width: 66.66%;}
    .e-col-9 {width: 75%;}
    .e-col-10 {width: 83.33%;}
    .e-col-11 {width: 91.66%;}
    .e-col-12 {width: 100%;}

    .e-container {
        width: 80%;
        margin: auto;
    }

    .e-modal-content {
        width: 80%;
    }

}